/* CSS Document */


/* 关于我们 */
#lc_us_cont_title dt span		{ background:url(../images/lc_bg.png) no-repeat;}

#lc_us_cont	{ width:980px; margin:10px 0 0 0; display:inline; background:#FFFFFF; float:left;}
	#lc_us_cont_title	{ width:980px; height:192px; float:left;}
	#lc_us_cont_title dt		{ width:980px; height:28px; background:#000000; float:left;}
	#lc_us_cont_title dt span	{ width:122px; height:28px; padding:0 0 0 16px; line-height:29px; font-weight:bold; color:#FFFFFF; font-size:14px; background-position:0 -212px; float:left;}
	#lc_us_cont_title dd		{ width:844px; height:140px; padding:24px 0 0 136px; float:left;}
	
	#lc_us_cont_a		{ width:980px; float:left;}
	#lc_us_cont_a dt	{ width:980px; height:43px; font-size:14px; font-weight:bold; color:#000000; text-align:center; float:left;}
	#lc_us_cont_a dd	{ width:919px; padding:0 0 26px 61px; font-size:14px; float:left;}
	
	.lc_us_cont_b			{ width:980px; float:left;}
	.lc_us_cont_b dt		{ width:980px; height:28px; background:#efefef; float:left;}
	.lc_us_cont_b dt span	{ width:156px; height:28px; padding:0 0 0 61px; background:#1378af; font-size:14px; font-weight:bold; color:#FFFFFF; line-height:29px; float:left;}
	.lc_us_cont_b dd		{ width:919px; padding:10px 0 26px 61px; font-size:14px; float:left;}
	.lc_us_cont_b dd a		{ font-size:14px; font-weight:normal; color:#3b96c9; text-decoration:underline;}
	.lc_us_cont_b dd a:hover{ text-decoration:none;}
	
	#lc_us_cont_c		{ width:980px; padding:0 0 40px 0; text-align:center; float:left;}
	
	
	
	